.mainBlock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        &__input{
            font-size: 20px;
            width: 450px;
        }
        &__btn{
            width: 200px;
            height: 35px;
            border-radius: 10px;
        }
        &__btn:hover{
            background-color: #c3b7f0;
        }
    }
    &__img{
        width: fit-content;
        font-size: 20px;
    }
}
.error{
    color: red;
}
.describe{
    width: 700px;
}
.text{
    text-align: left;
    font-size: 18px;
}
